apiVersion: v2
name: jobs-app
description: A Helm chart for Kubernetes

type: application

version: "0.5.6"
appVersion: "0.5.6"

dependencies:
- name: strimzi-kafka-operator
  version: "0.28.0"
  repository: "https://strimzi.io/charts"
  condition: strimzi-kafka-operator.enabled
- name: elasticsearch
  version: "7.17.3"
  repository: "https://helm.elastic.co"
  condition: elasticsearch.enabled
